version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    
    depends_on:
      - redis

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"

  redis:
    image: redis:7
